body {
    background-color:rgb(150, 82, 90);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
}

.heading {
    padding-top: 20px;
    text-align: center;
    color: rgb(212, 233, 118);
}

.table {
    text-align: center;
    padding-left: 33%;
    padding-top: 20px;
}

.calculator {
    padding: 25px;
    background-color:lavender;
    box-shadow: 2px 4px 6px 2px black;
}

.calculator:hover  {
    box-shadow: 4px 8px 12px 4px rgb(41, 40, 40);
}

.displayBox {
    border: 1px solid black;
    border-radius: 1px;
    width: 250px;
    padding: 10px;
    margin: 20px 4px 10px 0px;
    background-color: rgb(240, 215, 240);
    box-shadow: 0px 1px 2px 0px rgb(196, 164, 196);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.displayBox:hover {
    box-shadow: 1px 2px 4px 1px rgb(196, 164, 196);
}

.btn {
    border: 1px solid black;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0px;
    background-color: rgb(164, 207, 164);
    box-shadow: 0px 1px 2px 0px rgb(147, 182, 147);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover  {
    box-shadow: 1px 2px 4px 1px rgb(147, 182, 147);
}

@media screen and (max-width: 400px) {

    .heading {
        padding-left: 20px;
    }

    .container {
        padding-right: 2px;
    }
    
    .table {
        padding-left: 0.1px;
        padding-top: 40px;
    }
    
    .calculator {
        padding: 1px;
    }

}